<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
       <div id = "app">
      

          <input type="radio"  id="animals" value="animals" v-model = "loveType" >
          <label for="animals">animals</label><br>
          
          <input type="radio"  id="flower" value="flower"v-model = "loveType">
          <label for="female">flower</label><br>
          <br>
          <br>


         
          
       
         
          </select>
       <span>LoveType: {{loveType}}</span>
       <br>


    </template>

 <template v-else>
     <div>
         plaese select one!!
     </div>
 </template>



    </div> 

      <script>
      var app = new Vue({
       //element
       el:"#app",
       data:{
           loveType:'',
           LoveList:[],
     

       
           } ,
           computed:{
               getlistlength:function(){
              return this.LoveList.length;
           },
              isloveanimals:function(){
              return this.loveType=='animals';
           },
              isloveflower:function(){
              return this.loveType=='flower';
           }
        }, 

           watch:{
               loveType:function(newValue,oldValue){

                this.LoveList=[];
               }
           }   
      });
      </script>

    </body>
</html>