<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
       <div id = "app">
      

          <input type="radio"  id="animals" value="animals" v-model = "loveType" >
          <label for="animals">animals</label><br>
          
          <input type="radio"  id="flower" value="flower"v-model = "loveType">
          <label for="female">flower</label><br>
          <br>
          <br>


         
          
       
         
          </select>
       <span>LoveType: {{loveType}}</span>
       <br>


<template v-if="isloveanimals">

 <input type="checkbox"  id="dog" value = "dog" v-model = "LoveList" >
          <label for="dog">Dog</label>
          <input type="checkbox" id="cat"value = "cat"v-model = "LoveList">
          <label for="cat">Cat</label>
          <input type="checkbox" id="Fish" value = "Fish"v-model = "LoveList" >
          <label for="Fish">Fish</label>
          <br>

 </template>
 <template v-else-if="isloveflower">

   <input type="checkbox"  id="Rose" value = "Rose"v-model = "LoveList" >
          <label for="Rose">Rose</label>
          <input type="checkbox" id="Lotus"value = "Lotus"v-model = "LoveList">
          <label for="Lotus">Lotus</label>
          <input type="checkbox" id="Mali" value = "Mali" v-model = "LoveList">
          <label for="Mali">Fish
          </label>
          <br>
        
 </template>
 <template v-else>
     <div>
         plaese select one!!
     </div>
 </template>

 <span>LoveList :<span v-if="LoveList.length==0">Nothing</span><br>
 <ul>
     <li v-for="love in LoveList">
     {{love}}
 </li>
</ul>
 <span>LoveList length:{{getlistlength}}</span>
    </div> 

      <script>
      var app = new Vue({
       //element
       el:"#app",
       data:{
           loveType:'',
           LoveList:[],
     

       
           } ,
           computed:{
               getlistlength:function(){
              return this.LoveList.length;
           },
              isloveanimals:function(){
              return this.loveType=='animals';
           },
              isloveflower:function(){
              return this.loveType=='flower';
           }
        }, 

           watch:{
               loveType:function(newValue,oldValue){

                this.LoveList=[];
               }
           }   
      });
      </script>

    </body>
</html>